body {
  background-image: url(./images/blue_light_line_6581.jpg);
}

#container {
  text-align: "center";
}

#screen {
  padding-right: 25px;
  height: 110px;
  color: white;
  background-color: #333a4d;
}

.button {
  height: 75px;
  width: 300px;
  border-radius: 0;
}
